# Nextflow usual output #
#########################

flowchart.png*
.nextflow.log*
/work
.nextflow*
.nextflow/*
.*
!.gitignore
/hail
*.ipynb
hail*
/archive
/vcf_to_try_hail
*.tsv
*.txt*
*.html*

# Error and output files #
##########################

*.error
*.out


# Singularity image files #
###########################
*.sif


# miniconda3 deployment #
######################### 
miniconda3/*

# nextflow deployment #
#######################
Nextflow/*


