# Nextflow usual output #
#########################

timeline.html*
trace.txt*
flowchart.png*
report.html*
.nextflow.log*
/work
.nextflow*
.nextflow/*
.*
!.gitignore
/hail
*.ipynb
hail*
/archive
/vcf_to_try_hail

# Error and output files #
##########################

*.error
*.out
