process.executor = 'slurm'
process.cache = 'lenient'
process.queue='silent_q'
process.shell = ['/bin/bash','-e']
executor { queueSize = 30 }

env {
	NXF_EXECUTOR = "slurm"
}

launchDir = "/mnt/scratch/SILENT/Act3/Processed/Workflow/Solenne/IBVL_pipeline/"

params {
	run             		= "Run_20220627"
	batch           		= "Batch_DryRun"
	SNV				= "SNV"
	STR				= "STR"
	MEI				= "MEI"
	SV				= "SV"
	MT				= "MT"
        reads           		= "/mnt/scratch/SILENT/Act3/GSC_data/Dry_run/*.{R1,R2}.fastq.gz"
	outdir_ind      		= "/mnt/scratch/SILENT/Act3/Processed/Individual/"
        outdir_pop      		= "/mnt/scratch/SILENT/Act3/Processed/Population"
	ExpansionHunter_dir		= "/mnt/common/SILENT/Act3/ExpansionHunter-v5.0.0-linux_x86_64/bin/"
	Melt_dir			= "/mnt/common/SILENT/Act3/MELTv2.2.2"
	ref_genome_MT   		= "/mnt/common/SILENT/Act3/MT_references/Homo_sapiens_assembly38.chrM.fasta"
	ref_genome_MT_index 		= "/mnt/common/SILENT/Act3/MT_references/Homo_sapiens_assembly38.chrM.fasta.fai"
	ref_genome_MT_dict 		= "/mnt/common/SILENT/Act3/MT_references/Homo_sapiens_assembly38.chrM.dict"
	ref_genome_MT_shifted		= "/mnt/common/SILENT/Act3/MT_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta"
	ref_genome_MT_shifted_index 	= "/mnt/common/SILENT/Act3/MT_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.fai"
	ref_genome_MT_shifted_dict 	= "/mnt/common/SILENT/Act3/MT_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.dict"
	vep_cache_merged		= "/mnt/common/SILENT/Act3/VEP/"
	vep_cache_merged_version	= "105"
	params.assembly_MT              = 'GRCh38'
	blacklist_sites_hg38_MT		= "/mnt/common/SILENT/Act3/MT_references/blacklist_sites.hg38.chrM.bed"
	blacklist_sites_hg38_MT_index	= "/mnt/common/SILENT/Act3/MT_references/blacklist_sites.hg38.chrM.bed.idx"
	control_region_shifted_reference_interval_list = "/mnt/common/SILENT/Act3/MT_references/control_region_shifted.chrM.interval_list"
	non_control_region_interval_list = "/mnt/common/SILENT/Act3/MT_references/non_control_region.chrM.interval_list"
	ShiftBack_chain			= "/mnt/common/SILENT/Act3/MT_references/ShiftBack.chain"
	gnomad_MT_frequ			= "/mnt/common/SILENT/Act3/MT_references/gnomad.genomes.v3.1.sites.chrM.reduced_annotations.tsv"
	sex_file			= "/mnt/scratch/SILENT/Act3/Processed/Workflow/Version_0.0.0/sample_sex.tsv"
	chrM				= 'chrM'
	severity_table			= '/mnt/scratch/SILENT/Act3/Processed/Workflow/Solenne/IBVL_pipeline/severity_table.tsv'
}


profiles {

        GRCh37 {
		params.assembly				= 'GRCh37'
                params.assembly_hg                      = 'hg19'
                params.ref				= '/mnt/common/DATABASES/REFERENCES/GRCh37/GENOME/GRCh37-lite.fa'
                params.ref_index			= '/mnt/common/DATABASES/REFERENCES/GRCh37/GENOME/GRCh37-lite.fa.fai'
                params.Mitochondrial_chromosome		= 'MT'
	        params.chrom                           	= (1..22) +  ['X', 'Y']
//      	params.chrom                           	= '22'
		params.CADD_1_6_whole_genome_SNVs	= '/mnt/common/DATABASES/REFERENCES/GRCh37/CADD/V1.6/whole_genome_SNVs.tsv.gz'
		params.CADD_1_6_whole_genome_SNVs_index = '/mnt/common/DATABASES/REFERENCES/GRCh37/CADD/V1.6/whole_genome_SNVs.tsv.gz.tbi'
		params.CADD_1_6_InDels			= '/mnt/common/DATABASES/REFERENCES/GRCh37/CADD/V1.6/InDels.tsv.gz'
		params.CADD_1_6_InDels_index		= '/mnt/common/DATABASES/REFERENCES/GRCh37/CADD/V1.6/InDels.tsv.gz.tbi'
		params.spliceai_snv			= '/mnt/common/DATABASES/REFERENCES/GRCh37/SPLICEAI/spliceai_scores.masked.snv.hg19.vcf.gz'
                params.spliceai_snv_index               = '/mnt/common/DATABASES/REFERENCES/GRCh37/SPLICEAI/spliceai_scores.masked.snv.hg19.vcf.gz.tbi'
		params.spliceai_indel			= '/mnt/common/DATABASES/REFERENCES/GRCh37/SPLICEAI/spliceai_scores.masked.indel.hg19.vcf.gz'
                params.spliceai_indel_index             = '/mnt/common/DATABASES/REFERENCES/GRCh37/SPLICEAI/spliceai_scores.masked.indel.hg19.vcf.gz.tbi'
		params.gnomad_SNV_vcf			= '/mnt/common/DATABASES/REFERENCES/GRCh37/GNOMAD/V2.1.1/gnomad.genomes.r2.1.1.sites.vcf.gz'
		params.gnomad_SNV_index			= '/mnt/common/DATABASES/REFERENCES/GRCh37/GNOMAD/V2.1.1/gnomad.genomes.r2.1.1.sites.vcf.gz.tbi'
		params.gnomad_SNV_vcf_chr20		= '/mnt/common/SILENT/Act3/gnomad/gnomad.genomes.r2.1.1.sites.20.vcf.bgz'
		params.gnomad_SNV_index_chr20		= '/mnt/common/SILENT/Act3/gnomad/gnomad.genomes.r2.1.1.sites.20.vcf.bgz.tbi'        
		params.cr_bed				= '/mnt/common/SILENT/Act3/GRCh37/cr.bed.gz'
                params.cr_bed_index                     = '/mnt/common/SILENT/Act3/GRCh37/cr.bed.gz.tbi'
		params.genes_file			= '/mnt/common/SILENT/Act3/GRCh37/hg19.genes.bed'
		params.transposon_file			= '/mnt/common/SILENT/Act3/GRCh37/transposons.txt'
		params.variant_catalog			= '/mnt/common/Precision/ExpansionHunter/ExpansionHunter-v5.0.0-linux_x86_64/variant_catalog/grch37/variant_catalog.json'
		params.gnomad_SV_bed			= '/mnt/common/DATABASES/REFERENCES/GRCh37/GNOMADSV/V2.1/gnomad_v2.1_sv.sites.bed.gz'
	}
	

        GRCh38 {
		params.assembly				= 'GRCh38'
		params.assembly_hg			= 'hg38'
                params.ref				= '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GRCh38-lite.fa'
                params.ref_index			= '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GRCh38-lite.fa.fai'
		params.Mitochondrial_chromosome		= 'MT'
		params.chrom				= ['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY']
//		params.chrom				= 'chr22'
                params.CADD_1_6_whole_genome_SNVs       = '/mnt/common/DATABASES/REFERENCES/GRCh38/CADD/V1.6/whole_genome_SNVs.tsv.gz'
                params.CADD_1_6_whole_genome_SNVs_index = '/mnt/common/DATABASES/REFERENCES/GRCh38/CADD/V1.6/whole_genome_SNVs.tsv.gz.tbi'
                params.CADD_1_6_InDels                  = '/mnt/common/DATABASES/REFERENCES/GRCh38/CADD/V1.6/gnomad.genomes.r3.0.indel.tsv.gz'
                params.CADD_1_6_InDels_index            = '/mnt/common/DATABASES/REFERENCES/GRCh38/CADD/V1.6/gnomad.genomes.r3.0.indel.tsv.gz.tbi'
                params.spliceai_snv                     = '/mnt/common/DATABASES/REFERENCES/GRCh38/SPLICEAI/spliceai_scores.masked.snv.hg38.vcf.gz'
                params.spliceai_snv_index               = '/mnt/common/DATABASES/REFERENCES/GRCh38/SPLICEAI/spliceai_scores.masked.snv.hg38.vcf.gz.tbi'
                params.spliceai_indel                   = '/mnt/common/DATABASES/REFERENCES/GRCh38/SPLICEAI/spliceai_scores.masked.indel.hg38.vcf.gz'
                params.spliceai_indel_index             = '/mnt/common/DATABASES/REFERENCES/GRCh38/SPLICEAI/spliceai_scores.masked.indel.hg38.vcf.gz.tbi'
                params.gnomad_SNV_vcf                   = '/mnt/common/DATABASES/REFERENCES/GRCh38/GNOMAD/V3/gnomad.genomes.r3.0.sites.vcf.gz'
                params.gnomad_SNV_index                 = '/mnt/common/DATABASES/REFERENCES/GRCh38/GNOMAD/V3/gnomad.genomes.r3.0.sites.vcf.gz.tbi'
		params.cr_bed                           = '/mnt/common/SILENT/Act3/GRCh38/cr.bed.gz'
                params.cr_bed_index                     = '/mnt/common/SILENT/Act3/GRCh38/cr.bed.gz.tbi'
                params.genes_file                       = '/mnt/common/SILENT/Act3/GRCh38/Hg38.genes.bed'
                params.transposon_file                  = '/mnt/common/SILENT/Act3/GRCh38/transposons.txt'
                params.variant_catalog                  = '/mnt/common/Precision/ExpansionHunter/ExpansionHunter-v5.0.0-linux_x86_64/variant_catalog/grch38/variant_catalog.json'
                params.gnomad_SV_bed                    = '/mnt/common/DATABASES/REFERENCES/GRCh38/GNOMADSV/V2.1/gnomad_v2.1_sv.sites.bed.altered.reformatted.hg38.bed'
        }
}

singularity {
     enabled = true
     autoMounts = true
     runOptions = "-B /mnt/scratch/SILENT/Act3/ -B /mnt/common/SILENT/Act3/ -B /mnt/common/DATABASES/REFERENCES/"
     cacheDir = "/mnt/common/SILENT/Act3/singularity"
 }

process {
// 4GB
          withName: 'Vcftools_TsTv_by_qual|align_to_MT|MT_MergeVcfs|MarkDuplicates|MT_merge_samples|count_variants_vcftools' {
                memory = 4.GB
        }

// 4GB, 8cpus
          withName: 'Bcftools_stats|split_vcf_by_chr|SV_annotation|samtools_fixmate' {
                memory = 4.GB
                cpus = 8
        }

// 8GB, 2cpus
          withName: 'melt' {
                memory = 8.GB
                cpus = 2
        }

// 8GB, 4cpus
          withName: 'MT_data_organization|Hail_variant_MT_QC|MT_Step3_metadata_sample|MT_Step3_metadata|MT_haplocheck|MT_Step2_participant_data|MT_Step1_input_tsv|shift_back|Hail_variant_QC|SNV_data_organization' {
                memory = 8.GB
                cpus = 4
        }

// 12Gb, 8 cpus
	withName: 'align_sort_output_bam|expansion_hunter|melt' {
                memory = 12.GB
                cpus = 8
        }	

// 32GB, 4 cpus
          withName: 'annotation_table_merged' {
                memory = 32.GB
                cpus = 4
        }

// 20GB, 8 cpus
          withName: 'samtools_fixmate' {
                memory = 20.GB
                cpus = 8
        }

// 40GB, 8 cpus
          withName: 'bcf_to_vcf|bwa_index' {
                memory = 40.GB
                cpus = 8
        }

//FastQC, 2GB, 4CPUs
        withName: 'fastqc' {
                memory = 2.GB
                cpus = 4
                container = "file:///mnt/common/SILENT/Act3/singularity/fastqc.0.11.sif"
        }

//MultiQC 4GB
        withName: 'multiqc_indiv|multiqc_pop' {
                memory=4.GB
                container = "file:///mnt/common/SILENT/Act3/singularity/multiqc-1.9.sif"
        }

//Mosdepth, 4GB
        withName: 'Mosdepth' {
                memory = 4.GB
                container = "file:///mnt/common/SILENT/Act3/singularity/mosdepth-0.3.2.sif"
        }
     
//DeepVariant
        withName: 'deepvariant_call' {
		memory = 60.GB
                cpus = 20
                container = "file:///mnt/common/SILENT/Act3/singularity/deepvariant-1.2.0.sif"
        }

//GLnexus
        withName: 'GLnexus_cli' {
                memory = 120.GB
                cpus = 20
                container = "file:///mnt/common/SILENT/Act3/singularity/glnexus-1.4.1.sif"
        }

//GATK 4GB
// Solenne : Removed 'MarkDuplicates', 'MT_MergeVcfs' and 'MT_merge_samples' from the list as it also uses conda and was not working with both in the same process 
	withName: 'MT_call_variants|Extract_MT_Read|MT_Filter_Mutect_Calls|MT_FilterOut_sites|MT_LeftAlignAndTrimVariants|MT_Liftover|MT_Merge_stat_file|MT_SamtoFastq|gnomad_frequency_table|count_variants_gatk' {
                memory=4.GB
                container = "file:///mnt/common/SILENT/Act3/singularity/gatk4-4.2.0.sif"
        }

//GATK, 4 CPUs , 8Gb
	withName: 'Picard_CollectWgsMetrics|Picard_CollectWgsMetrics_MT' {
                cpus = 4
		memory=8.GB
                container = "file:///mnt/common/SILENT/Act3/singularity/gatk4-4.2.0.sif"
        }

//GATK, 4 CPUs , 2Gb
        withName: 'Picard_CollectAlignmentSummaryMetrics' {
                cpus = 4
                memory=2.GB
                container = "file:///mnt/common/SILENT/Act3/singularity/gatk4-4.2.0.sif"
        }

// Picard_R, 2Gb, 4 CPUs
        withName: 'Picard_QualityScoreDistribution' {
                cpus=4
                memory=2.GB
                container = "file:///mnt/common/SILENT/Act3/singularity/picard_r.sif"
        }

// Smoove, 8Gb, 3 cpus
	withName: 'SV_smoove' {
		cpus = 2
		memory  = 4.GB
		container = "file:///mnt/common/SILENT/Act3/singularity/smoove_latest.sif" 
	}

//  Manta, 6Gb, 24cpus
	withName: 'SV_manta' {
		cpus = 20
		memory = 4.GB
		container = "file:///mnt/common/SILENT/Act3/singularity/illumina_manta.sif"                                        
	}


// Concat by sample, 6Gb, 2cpus
	withName: 'SV_concat_by_sample' {
      		memory = 6.GB
		cpus = 2
		container = "https://depot.galaxyproject.org/singularity/bcftools%3A1.9--ha228f0b_4"
	}

// paragraph_duphold
    	withName: 'SV_paragraph_duphold' {
      		container = "docker://brentp/rare-disease-sv:v0.1.2"
      		cpus = 12
      		memory = 6.GB
	}

//Jasmine
    	withName: 'SV_jasmine' {
      		container = "docker://brentp/rare-disease-sv:v0.1.2"
      		cpus = 4
      		memory = 6.GB
	}

}
